body {
    background-color: #1f0c08;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding:0;
    margin:0;
    box-sizing: border-box;
    height: 100vh;
}

.startBtn, .finishBtn {
    position: absolute;
    left:50%;
    transform: translateX(-50%); 
    top:70px;
    width: 200px;
    border-radius: 10px;
    background-color: #e78717;
    font-size: 30px;
    color: aliceblue;
    border-color: #e78717;
    outline: none;
}

.finishBtn {
    display: none;
}

.game-container {
    width: 70%;
    margin: auto;
    display: none;
}

.title {
    position: relative;
}

.level {
    position: absolute;
    left: 10%;
    font-size: 30px;
}

.time {
    margin-top:10px;
    font-size: 40px;
}

.score {
    position: absolute;
    right:10%;
    font-size: 30px;
}

.time,.score,.level {
    font-weight: bold;
    color: #e78717;
    text-align: center;
}

.levelContainer {
    margin: 70px auto 0;
    height: 600px;
    display: grid;
    grid-gap: 20px;
    perspective: 1000px;
    width: 800px;
}

.single-card-container {
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.single-card-container:active {
    transform: scale(.95);
    transition: transform .2s;
}

.single-card-container.flip {
    transform: rotateY(180deg)
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    box-shadow:0px 10px 30px rgba(0,0,0,.8);
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}
